In [1]:
from bs4 import BeautifulSoup as bs4
import requests
import pandas as pd

In [2]:
pages=[]
prices=[]
stars=[]
titles=[]
urlss=[]

pages_to_scrape=5
for i in range(1,pages_to_scrape+1):
    url = ('https://books.toscrape.com/catalogue/page-{}.html').format(i)
    pages.append(url)

In [3]:
for item in pages:
    page = requests.get(item)
    soup = bs4(page.text, 'html.parser')
    for i in soup.findAll('h3'):
        ttl=i.getText()
        titles.append(ttl)
    for i in soup.findAll('p','price_color'):
        price=i.getText()
        prices.append(price)
    for s in soup.findAll('p', class_='star-rating'):
        for k,v in s.attrs.items():
            star =v[1]
            stars.append(star)
    divs =soup.findAll('div', class_='image_container')
    for thumbs in divs:
        tgs=thumbs.find('img',class_='thumbnail')
        urls='http://books.toscrape.com/'+str(tgs['src'])
        newurls=urls.replace("../","")
        urlss.append(newurls)

In [4]:
data = {'Title': titles ,'Price':prices, 'Starts': stars}
df=pd.DataFrame(data=data)
df.index+=1

In [5]:
df

                                  Title    Price Starts
1                    A Light in the ...  Â£51.77  Three
2                    Tipping the Velvet  Â£53.74    One
3                            Soumission  Â£50.10    One
4                         Sharp Objects  Â£47.82   Four
5          Sapiens: A Brief History ...  Â£54.23   Five
..                                  ...      ...    ...
96            Lumberjanes Vol. 3: A ...  Â£19.92    Two
97   Layered: Baking, Building, and ...  Â£40.11    One
98             Judo: Seven Steps to ...  Â£53.90    Two
99                                 Join  Â£35.67   Five
100               In the Country We ...  Â£22.00   Four

[100 rows x 3 columns]

In [6]:
df.to_excel("WEBSCRAPPING_output.xlsx")